.mid {
    text-align: center;
    margin: 40px 0px 25px 0px;
    background-color: #77ACF1;
    padding: 25px;
    border-radius: 10px;
}

#brand {
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: white;
    margin-right: 0px;
}

.redirect_signup {
    margin: 10px 0px 10px 0px;
    text-align: left;
}

body {
    background-color: rgb(213, 224, 248);
}